# EDA - Bike Sharing Dataset

## Imports

In [84]:
import pandas as pd

In [45]:
daily_df = pd.read_csv("../data/raw/bike_sharing_dataset/day.csv")
hourly_df = pd.read_csv("../data/raw/bike_sharing_dataset/hour.csv")

print(f"Daily shape: {daily_df.shape}")
print(f"Hourly shape: {hourly_df.shape}")

Daily shape: (731, 16)
Hourly shape: (17379, 17)

## Details

In [46]:
print("Daily columns:")
print(daily_df.columns, "\n")

print("Hourly columns:")
print(hourly_df.columns, "\n")

print("Column diff:")
for col in hourly_df.columns:
    if col not in daily_df.columns:
        print(f"Column {col} exists in hourly but not in daily data")
print()

Daily columns:
Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

Hourly columns:
Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

Column diff:
Column hr exists in hourly but not in daily data

In [47]:
display(daily_df.head(5))
print()
display(hourly_df.head(5))

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [48]:
display(daily_df.describe())
print()
display(hourly_df.describe())

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,366.000000,2.496580,0.500684,6.519836,0.028728,2.997264,0.683995,1.395349,0.495385,0.474354,0.627894,0.190486,848.176471,3656.172367,4504.348837
std,211.165812,1.110807,0.500342,3.451913,0.167155,2.004787,0.465233,0.544894,0.183051,0.162961,0.142429,0.077498,686.622488,1560.256377,1937.211452
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000
25%,183.500000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.337083,0.337842,0.520000,0.134950,315.500000,2497.000000,3152.000000
50%,366.000000,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,0.498333,0.486733,0.626667,0.180975,713.000000,3662.000000,4548.000000
75%,548.500000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,0.655417,0.608602,0.730209,0.233214,1096.000000,4776.500000,5956.000000
max,731.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

In [49]:
display(daily_df.dtypes)
print()
display(hourly_df.dtypes)

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
hr              int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

## Analysis

<b>dteday</b> : Will be dropped since it does not bring any information that we don't already know. 
<br>
<b>casual</b> and <b>registered</b>: must be dropped. Our purpose being the prediction of the number of users these columns represent data leakage.
<br>
<b>weathersit</b>, <b>season</b>: we will replace these columns with one hot encoding to avoid giving too much weight to high values.
<br>
<b>weekday</b>, <b>hr</b>, <b>mnth</b>: we will replace these columns with a cyclic encoding (sin, cos). This preserves the periodic nature of these features (e.g. hour 23 being close to hour 0) while avoiding an artificial ordinal relationship and excessive feature dimensionality introduced by one-hot encoding.

## Data cleaning

In [50]:
daily_y = daily_df["cnt"]
hourly_y = hourly_df["cnt"]

daily_df.drop("cnt", axis=1, inplace=True)
hourly_df.drop("cnt", axis=1, inplace=True)

In [57]:
display(daily_y)
print()
display(hourly_y)

0       985
1       801
2      1349
3      1562
4      1600
       ...
726    2114
727    3095
728    1341
729    1796
730    2729
Name: cnt, Length: 731, dtype: int64

0         16
1         40
2         32
3         13
4          1
        ...
17374    119
17375     89
17376     90
17377     61
17378     49
Name: cnt, Length: 17379, dtype: int64

In [58]:
columns_to_drop = ["dteday", "casual", "registered"]

for col_to_drop in columns_to_drop:
    if col_to_drop in daily_df.columns : daily_df.drop(col_to_drop, axis=1, inplace=True)
    if col_to_drop in hourly_df.columns : hourly_df.drop(col_to_drop, axis=1, inplace=True)

In [63]:
weather_categories = {
    1: "very_good_weather",
    2: "good_weather",
    3: "bad_weather", 
    4: "very_bad_weather"
}

season_categories = {
    1: "spring",
    2: "summer",
    3: "fall",
    4: "winter"
}

In [74]:
from sklearn.preprocessing import OneHotEncoder

def one_hot_encode(df: pd.DataFrame,
                  columns: list[str]) -> tuple[pd.DataFrame, OneHotEncoder]:
    """
    One-hot encode specified categorical columns and return the transformed dataframe and the fitted encoder
    """
    encoder = OneHotEncoder(
        sparse_output=False,
        handle_unknown="ignore"
    )

    encoded_array = encoder.fit_transform(df[columns])

    encoded_df = pd.DataFrame(
        encoded_array,
        columns=encoder.get_feature_names_out(columns),
        index=df.index
    )

    df_out = df.drop(columns=columns).join(encoded_df)

    return df_out, encoder

In [75]:
categorical_features = ["weathersit", "season"]

daily_df_cat_encoded, daily_df_cat_encoder = one_hot_encode(daily_df, categorical_features)
hourly_df_cat_encoded, hourly_df_cat_encoder = one_hot_encode(hourly_df, categorical_features)

In [76]:
display(daily_df_cat_encoded.head(5))
print()
display(hourly_df_cat_encoded.head(5))

,instant,yr,mnth,holiday,weekday,workingday,temp,atemp,hum,windspeed,weathersit_1,weathersit_2,weathersit_3,season_1,season_2,season_3,season_4
0,1,0,1,0,6,0,0.344167,0.363625,0.805833,0.160446,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,2,0,1,0,0,0,0.363478,0.353739,0.696087,0.248539,0.0,1.0,0.0,1.0,0.0,0.0,0.0
2,3,0,1,0,1,1,0.196364,0.189405,0.437273,0.248309,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3,4,0,1,0,2,1,0.200000,0.212122,0.590435,0.160296,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,5,0,1,0,3,1,0.226957,0.229270,0.436957,0.186900,1.0,0.0,0.0,1.0,0.0,0.0,0.0

,instant,yr,mnth,hr,holiday,weekday,workingday,temp,atemp,hum,windspeed,weathersit_1,weathersit_2,weathersit_3,weathersit_4,season_1,season_2,season_3,season_4
0,1,0,1,0,0,6,0,0.24,0.2879,0.81,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,2,0,1,1,0,6,0,0.22,0.2727,0.80,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,3,0,1,2,0,6,0,0.22,0.2727,0.80,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,4,0,1,3,0,6,0,0.24,0.2879,0.75,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,5,0,1,4,0,6,0,0.24,0.2879,0.75,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [77]:
column_names_map = {f"weathersit_{k}": v for k, v in weather_categories.items()}
column_names_map.update({f"season_{k}": v for k, v in season_categories.items()})
print(column_names_map)
for df in [daily_df_cat_encoded, hourly_df_cat_encoded]:
    df.rename(columns=column_names_map, inplace=True)

{'weathersit_1': 'very_good_weather', 'weathersit_2': 'good_weather', 'weathersit_3': 'bad_weather', 'weathersit_4': 'very_bad_weather', 'season_1': 'spring', 'season_2': 'summer', 'season_3': 'fall', 'season_4': 'winter'}

In [78]:
display(daily_df_cat_encoded.head(5))
print()
display(hourly_df_cat_encoded.head(5))

,instant,yr,mnth,holiday,weekday,workingday,temp,atemp,hum,windspeed,very_good_weather,good_weather,bad_weather,spring,summer,fall,winter
0,1,0,1,0,6,0,0.344167,0.363625,0.805833,0.160446,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,2,0,1,0,0,0,0.363478,0.353739,0.696087,0.248539,0.0,1.0,0.0,1.0,0.0,0.0,0.0
2,3,0,1,0,1,1,0.196364,0.189405,0.437273,0.248309,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3,4,0,1,0,2,1,0.200000,0.212122,0.590435,0.160296,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,5,0,1,0,3,1,0.226957,0.229270,0.436957,0.186900,1.0,0.0,0.0,1.0,0.0,0.0,0.0

,instant,yr,mnth,hr,holiday,weekday,workingday,temp,atemp,hum,windspeed,very_good_weather,good_weather,bad_weather,very_bad_weather,spring,summer,fall,winter
0,1,0,1,0,0,6,0,0.24,0.2879,0.81,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,2,0,1,1,0,6,0,0.22,0.2727,0.80,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,3,0,1,2,0,6,0,0.22,0.2727,0.80,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,4,0,1,3,0,6,0,0.24,0.2879,0.75,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,5,0,1,4,0,6,0,0.24,0.2879,0.75,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [106]:
import numpy as np 
def cyclic_encode(df: pd.DataFrame, periods: dict[str, int], drop: bool = True, offsets: dict[str, int] | None = None) -> pd.DataFrame:
    """
    Add cyclic (sin/cos) encoding for specified columns.

    Args:
        df: Input dataframe.
        periods: Mapping column -> period (e.g., {"hr": 24, "weekday": 7, "mnth": 12}).
        drop: If True, drop original columns after encoding.
        offsets: Optional mapping column -> offset to apply before encoding (e.g., {"mnth": 1} for 1..12).

    Returns:
        Transformed dataframe (copy).
    """
    df_out = df.copy()
    offsets = offsets or {}

    for col, period in periods.items():

        if col not in df.columns:
            raise KeyError(f"Column {col} not in dataframe ...")
            
        offset = offsets.get(col, 0)
        x = (df_out[col].astype(float) - float(offset) % float(period))

        angle = 2.0 * np.pi * x / float(period)
        df_out[f"{col}_sin"] = np.sin(angle)
        df_out[f"{col}_cos"] = np.cos(angle)

    if drop:
        df_out = df_out.drop(columns=list(periods.keys()))

    return df_out

In [108]:
daily_df_encoded = cyclic_encode(
    daily_df_cat_encoded,
    periods={"weekday": 7, "mnth": 12},
    offsets={"mnth": 1},  # mnth is 1..12 in this dataset
)

hourly_df_encoded = cyclic_encode(
    hourly_df_cat_encoded,
    periods={"hr": 24, "weekday": 7, "mnth": 12},
    offsets={"mnth": 1},  # mnth is 1..12 in this dataset
)

In [109]:
display(daily_df_encoded.head(5))
print()
display(hourly_df_encoded.head(5))

,instant,yr,holiday,workingday,temp,atemp,hum,windspeed,very_good_weather,good_weather,bad_weather,spring,summer,fall,winter,weekday_sin,weekday_cos,mnth_sin,mnth_cos
0,1,0,0,0,0.344167,0.363625,0.805833,0.160446,0.0,1.0,0.0,1.0,0.0,0.0,0.0,-0.781831,0.623490,0.0,1.0
1,2,0,0,0,0.363478,0.353739,0.696087,0.248539,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.000000,1.000000,0.0,1.0
2,3,0,0,1,0.196364,0.189405,0.437273,0.248309,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.781831,0.623490,0.0,1.0
3,4,0,0,1,0.200000,0.212122,0.590435,0.160296,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.974928,-0.222521,0.0,1.0
4,5,0,0,1,0.226957,0.229270,0.436957,0.186900,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.433884,-0.900969,0.0,1.0

,instant,yr,holiday,workingday,temp,atemp,hum,windspeed,very_good_weather,good_weather,...,spring,summer,fall,winter,hr_sin,hr_cos,weekday_sin,weekday_cos,mnth_sin,mnth_cos
0,1,0,0,0,0.24,0.2879,0.81,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.000000,1.000000,-0.781831,0.62349,0.0,1.0
1,2,0,0,0,0.22,0.2727,0.80,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.258819,0.965926,-0.781831,0.62349,0.0,1.0
2,3,0,0,0,0.22,0.2727,0.80,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.500000,0.866025,-0.781831,0.62349,0.0,1.0
3,4,0,0,0,0.24,0.2879,0.75,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.707107,0.707107,-0.781831,0.62349,0.0,1.0
4,5,0,0,0,0.24,0.2879,0.75,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.866025,0.500000,-0.781831,0.62349,0.0,1.0

In [110]:
display(daily_df_encoded.tail(5))
print()
display(hourly_df_encoded.tail(5))

,instant,yr,holiday,workingday,temp,atemp,hum,windspeed,very_good_weather,good_weather,bad_weather,spring,summer,fall,winter,weekday_sin,weekday_cos,mnth_sin,mnth_cos
726,727,1,0,1,0.254167,0.226642,0.652917,0.350133,0.0,1.0,0.0,1.0,0.0,0.0,0.0,-0.433884,-0.900969,-0.5,0.866025
727,728,1,0,1,0.253333,0.255046,0.590000,0.155471,0.0,1.0,0.0,1.0,0.0,0.0,0.0,-0.974928,-0.222521,-0.5,0.866025
728,729,1,0,0,0.253333,0.242400,0.752917,0.124383,0.0,1.0,0.0,1.0,0.0,0.0,0.0,-0.781831,0.623490,-0.5,0.866025
729,730,1,0,0,0.255833,0.231700,0.483333,0.350754,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.000000,1.000000,-0.5,0.866025
730,731,1,0,1,0.215833,0.223487,0.577500,0.154846,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.781831,0.623490,-0.5,0.866025

,instant,yr,holiday,workingday,temp,atemp,hum,windspeed,very_good_weather,good_weather,...,spring,summer,fall,winter,hr_sin,hr_cos,weekday_sin,weekday_cos,mnth_sin,mnth_cos
17374,17375,1,0,1,0.26,0.2576,0.60,0.1642,0.0,1.0,...,1.0,0.0,0.0,0.0,-0.965926,0.258819,0.781831,0.62349,-0.5,0.866025
17375,17376,1,0,1,0.26,0.2576,0.60,0.1642,0.0,1.0,...,1.0,0.0,0.0,0.0,-0.866025,0.500000,0.781831,0.62349,-0.5,0.866025
17376,17377,1,0,1,0.26,0.2576,0.60,0.1642,1.0,0.0,...,1.0,0.0,0.0,0.0,-0.707107,0.707107,0.781831,0.62349,-0.5,0.866025
17377,17378,1,0,1,0.26,0.2727,0.56,0.1343,1.0,0.0,...,1.0,0.0,0.0,0.0,-0.500000,0.866025,0.781831,0.62349,-0.5,0.866025
17378,17379,1,0,1,0.26,0.2727,0.65,0.1343,1.0,0.0,...,1.0,0.0,0.0,0.0,-0.258819,0.965926,0.781831,0.62349,-0.5,0.866025